<a href="https://colab.research.google.com/github/peterdelaguila/peterdelaguila/blob/main/rfm_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [4]:
data = pd.read_csv('rfm_clientes_tran.csv')

In [5]:
data.head(5)

   IdCliente LineaProducto  NumeroProducto       Fecha  Monto
0          1         D-400             487   7/24/2004    118
1          1         D-400             496   7/24/2004    136
2          1         C-300             305  10/25/2004     50
3          1         D-400             438    8/4/2005    129
4          1         C-300             395    9/4/2006     52

In [6]:
data.loc[2:4,['Fecha']]

        Fecha
2  10/25/2004
3    8/4/2005
4    9/4/2006

In [8]:
data['Fecha'].head(5)

0     7/24/2004
1     7/24/2004
2    10/25/2004
3      8/4/2005
4      9/4/2006
Name: Fecha, dtype: object

In [9]:
data['Fecha'] = pd.to_datetime(data['Fecha'])

In [10]:
data['Fecha'].head(5)

0   2004-07-24
1   2004-07-24
2   2004-10-25
3   2005-08-04
4   2006-09-04
Name: Fecha, dtype: datetime64[ns]

In [11]:
data.head(5)

   IdCliente LineaProducto  NumeroProducto      Fecha  Monto
0          1         D-400             487 2004-07-24    118
1          1         D-400             496 2004-07-24    136
2          1         C-300             305 2004-10-25     50
3          1         D-400             438 2005-08-04    129
4          1         C-300             395 2006-09-04     52

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4905 entries, 0 to 4904
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IdCliente       4905 non-null   int64
 1   LineaProducto   4905 non-null   object
 2   NumeroProducto  4905 non-null   int64
 3   Fecha           4905 non-null   datetime64[ns]
 4   Monto           4905 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 191.7+ KB

In [13]:
print(data['Fecha'].min(), data['Fecha'].max())

2004-01-02 00:00:00 2006-12-30 00:00:00

In [14]:
data['Hoy'] = dt.date(2019,5,5)

In [15]:
data.head(5)

   IdCliente LineaProducto  NumeroProducto      Fecha  Monto         Hoy
0          1         D-400             487 2004-07-24    118  2019-05-05
1          1         D-400             496 2004-07-24    136  2019-05-05
2          1         C-300             305 2004-10-25     50  2019-05-05
3          1         D-400             438 2005-08-04    129  2019-05-05
4          1         C-300             395 2006-09-04     52  2019-05-05

In [16]:
recencia_df = data.groupby(by='IdCliente', as_index=False)['Fecha'].max()
recencia_df.columns = ['IdCliente','Fecha']
recencia_df.head()

   IdCliente      Fecha
0          1 2006-09-04
1          2 2005-11-10
2          3 2005-06-04
3          4 2006-08-18
4          5 2006-07-07

In [17]:
recencia_df['Hoy'] = dt.date(2019,5,5)
recencia_df['Hoy'] = pd.to_datetime(recencia_df['Hoy'])

In [18]:
recencia_df.head()

   IdCliente      Fecha        Hoy
0          1 2006-09-04 2019-05-05
1          2 2005-11-10 2019-05-05
2          3 2005-06-04 2019-05-05
3          4 2006-08-18 2019-05-05
4          5 2006-07-07 2019-05-05

In [19]:
recencia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IdCliente  995 non-null    int64
 1   Fecha      995 non-null    datetime64[ns]
 2   Hoy        995 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1)
memory usage: 23.4 KB

In [20]:
#calculate recency
recencia_df['Recencia'] = recencia_df['Hoy'] - recencia_df['Fecha']
recencia_df.head()

   IdCliente      Fecha        Hoy  Recencia
0          1 2006-09-04 2019-05-05 4626 days
1          2 2005-11-10 2019-05-05 4924 days
2          3 2005-06-04 2019-05-05 5083 days
3          4 2006-08-18 2019-05-05 4643 days
4          5 2006-07-07 2019-05-05 4685 days

In [21]:
recencia_df['Recencia'] = recencia_df['Recencia']/np.timedelta64(1, 'D')

In [22]:
recencia_df.head()

   IdCliente      Fecha        Hoy  Recencia
0          1 2006-09-04 2019-05-05    4626.0
1          2 2005-11-10 2019-05-05    4924.0
2          3 2005-06-04 2019-05-05    5083.0
3          4 2006-08-18 2019-05-05    4643.0
4          5 2006-07-07 2019-05-05    4685.0

In [23]:
#calculate frequency
frecuencia_df = data.groupby(by='IdCliente', as_index=False)['Fecha'].count()
frecuencia_df.columns = ['IdCliente','Frecuencia']
frecuencia_df.head()

   IdCliente  Frecuencia
0          1           5
1          2           4
2          3           2
3          4           7
4          5           3

In [24]:
#calculate money
monto_df = data.groupby(by='IdCliente', as_index=False)['Monto'].sum()
monto_df.columns = ['IdCliente','Monto']
monto_df.head()

   IdCliente  Monto
0          1    485
1          2    350
2          3    233
3          4    936
4          5    359

In [25]:
#Create RFM Table
temp_df = recencia_df.merge(frecuencia_df,on='IdCliente')
rfm_df = temp_df.merge(monto_df,on='IdCliente')
rfm_df.head()

   IdCliente      Fecha        Hoy  Recencia  Frecuencia  Monto
0          1 2006-09-04 2019-05-05    4626.0           5    485
1          2 2005-11-10 2019-05-05    4924.0           4    350
2          3 2005-06-04 2019-05-05    5083.0           2    233
3          4 2006-08-18 2019-05-05    4643.0           7    936
4          5 2006-07-07 2019-05-05    4685.0           3    359

In [26]:
quantiles = rfm_df.quantile(q=[0.20,0.40,0.60,0.80])
quantiles

     IdCliente  Recencia  Frecuencia  Monto
0.2      201.8    4622.0         3.0  253.8
0.4      400.6    4688.0         4.0  381.0
0.6      599.4    4804.4         5.0  505.4
0.8      800.2    4989.0         7.0  665.0

In [27]:
quantiles.to_dict()

{'IdCliente': {0.2: 201.8, 0.4: 400.6, 0.6: 599.4, 0.8: 800.2},
 'Recencia': {0.2: 4622.0, 0.4: 4688.0, 0.6: 4804.4, 0.8: 4989.0},
 'Frecuencia': {0.2: 3.0, 0.4: 4.0, 0.6: 5.0, 0.8: 7.0},
 'Monto': {0.2: 253.8, 0.4: 381.0, 0.6: 505.4, 0.8: 665.0}}

In [28]:
#Creación de Segmentos
# Arguments (x = value, p = recency, monetary_value, frequency, d = quintiles dict)
def RScore(x,p,d):
    if x <= d[p][0.20]:
        return 5
    elif x <= d[p][0.40]:
        return 4
    elif x <= d[p][0.60]: 
        return 3
    elif x <= d[p][0.80]: 
        return 2
    else:
        return 1
# Arguments (x = value, p = recency, monetary_value, frequency, k = quintiles dict)
def FMScore(x,p,d):
    if x <= d[p][0.20]:
        return 1
    elif x <= d[p][0.40]:
        return 2
    elif x <= d[p][0.60]: 
        return 3
    elif x <= d[p][0.80]: 
        return 4
    else:
        return 5

In [29]:
rfm_segmentation = rfm_df
rfm_segmentation['R_Quintile'] = rfm_segmentation['Recencia'].apply(RScore, args=('Recencia',quantiles,))
rfm_segmentation['F_Quintile'] = rfm_segmentation['Frecuencia'].apply(FMScore, args=('Frecuencia',quantiles,))
rfm_segmentation['M_Quintile'] = rfm_segmentation['Monto'].apply(FMScore, args=('Monto',quantiles,))

In [30]:
rfm_segmentation.head()

,IdCliente,Fecha,Hoy,Recencia,Frecuencia,Monto,R_Quintile,F_Quintile,M_Quintile
0,1,2006-09-04,2019-05-05,4626.0,5,485,4,3,3
1,2,2005-11-10,2019-05-05,4924.0,4,350,2,2,2
2,3,2005-06-04,2019-05-05,5083.0,2,233,1,1,1
3,4,2006-08-18,2019-05-05,4643.0,7,936,4,4,5
4,5,2006-07-07,2019-05-05,4685.0,3,359,4,1,2

In [31]:
rfm_segmentation['RFMScore'] = rfm_segmentation.R_Quintile.map(str) + rfm_segmentation.F_Quintile.map(str) + rfm_segmentation.M_Quintile.map(str)
rfm_segmentation.head()

,IdCliente,Fecha,Hoy,Recencia,Frecuencia,Monto,R_Quintile,F_Quintile,M_Quintile,RFMScore
0,1,2006-09-04,2019-05-05,4626.0,5,485,4,3,3,433
1,2,2005-11-10,2019-05-05,4924.0,4,350,2,2,2,222
2,3,2005-06-04,2019-05-05,5083.0,2,233,1,1,1,111
3,4,2006-08-18,2019-05-05,4643.0,7,936,4,4,5,445
4,5,2006-07-07,2019-05-05,4685.0,3,359,4,1,2,412

In [32]:
print("Best Customers: ",len(rfm_segmentation[rfm_segmentation['RFMScore']=='555']))

Best Customers:  35

In [33]:
print('Loyal Customers: ',len(rfm_segmentation[rfm_segmentation['F_Quintile']==4]))

Loyal Customers:  244

In [34]:
print("Big Spenders: ",len(rfm_segmentation[rfm_segmentation['M_Quintile']==4]))

Big Spenders:  203

In [35]:
print('Almost Lost: ', len(rfm_segmentation[rfm_segmentation['RFMScore']=='244']))

Almost Lost:  23

In [36]:
print('Lost Customers: ',len(rfm_segmentation[rfm_segmentation['RFMScore']=='144']))

Lost Customers:  8

In [37]:
print('Lost Cheap Customers: ',len(rfm_segmentation[rfm_segmentation['RFMScore']=='111']))

Lost Cheap Customers:  76